<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<HTML>
   <HEAD>
      <TITLE>
         A Small Hello
      </TITLE>
   </HEAD>
<BODY bgcolor="{{ color }}">
   <H1>Hi I am {{ inventory_hostname }}</H1>
</BODY>
</HTML>